{% extends "layout.html" %}

{% block title %}
WWC-ATX: Python Server - Index
{% endblock %}

{% block main %}
<div class="row">
  <header class="text-center" col-12>
    <h1 class="text-uppercase"><strong>WWC-ATX: Python Server</strong></h1><hr>
    <h4>To Do List</h4>
  </header>
  <div class="buffer" col-6></div>
  <section class="text-center" col-3>
    <form action="/" method="post">
      <button type="submit" value="name" class="btn btn-secondary btn-xl-round">Start</button>
    </form>
  </section>
</div>
{% endblock %}
